.input_check_categorias[type=checkbox] {
    display: none;
}

.label_check_categorias :checked + span {
    background: blue;
    color: white;
}

.label_check_categorias span {
    display: inline-block;
    background: lightgrey;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
}